@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background:#f4f4f4;
    color: black;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

img,
#img-border {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 1em 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

.logo {
    height: 32px;
    width: 32px;
}

ul {
    display: ;
}

.btn {
    text-decoration: none;
    color:black;
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 1em;
}

.btn:hover {
    color: coral;
    border: coral 2px solid;
}

/* home */

#home {
    min-height: 450px;
}



/* bg-img */

.bg-img {
    min-height: 450px;
    position: absolute;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../img/hanoi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.7;
}

/* showcase */

.showcase {
   color:white; 
   text-align: center;
}

.showcase h1 {
    line-height: 1em;
    padding-top: 100px;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 50px;
}

.showcase p {
    font-size: 18px;
    font-weight: 500;
}

.social-media {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.social-media img {
    padding: 0 5px;
}


/* nav */

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 2px;
}

nav li,
#resume-button {
    display: inline;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
}

nav a,
#resume-button  {
    color: white;
    text-decoration: none;
}

nav li:hover,
#resume-button:hover{
    background: #f4f4f46c;
}

#resume-button {
    display: inline-block;
}

/* Section A */

.section-a {
    margin: 1em;
}

.section-a h1 {
    text-align: center;
    font-size: 35px;
    padding: 10px;
}

/* section-b */

.section-b .content-wrap{
    margin: 1em 2em;
    display: grid;
    text-align: center;
}

/* resume */
#resume h1 {
    border-bottom: 1px solid black;
    text-align: center;
}

#resume h2 {
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

#resume .content-wrap {
    margin: 1em;
    padding: 1em;
}

#resume ul {
    padding-bottom: 10px;
}

/* footer */

footer {
    text-align: center;
    background: rgba(0,0,0,0.05)
}

footer h3 {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

#copyright {
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#copyright p {
    padding: 5px;
    border-top: 1px solid black;
    width: 50%;
}

#social h3 {
    padding-bottom: 0;
}

@media(min-width:700px) {
    .showcase h1 {
        font-size: 50px;
    }

    .section-a .content-wrap {
        justify-content: center;
    }

    .section-a .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-a img {
        width: 30%;
        height: 30%;
    }

    .section-a p {
        padding: 2em;
        width: 30%;
    }
    
    .section-b {
        display: flex;
        justify-content: center;
        margin: 1em;
    }

    .section-b a {
        width: 100%;
    }

    #resume {
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    #resume .content-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #resume p {
        display: inline;
    }

    #resume ul {
        padding: 0 20%;
        justify-content: center;
    }

    #resume li {
        text-align: left;
    }

    #relev-course {
        grid-column-end: span 2;
        text-align: left;
        padding: 0 20%;
    }

    .video {
        width: 75%;
        height: 75%;
        align-self: flex-end;
        justify-self: center;
    }
   
    footer #contact {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }


}